@model ParkDetailModel
@{
    ViewData["Title"] = Model.Park.Name;
}


<h2>@Model.Park.Name</h2>
<img class="detail-img" src="~/images/@Model.Park.ImageName" />


<div class="park-info">
    @{ Type type = Model.Park.GetType();
        System.Reflection.PropertyInfo[] properties = type.GetProperties();
        foreach (var prop in properties)
        {
            if (true)
            {

            }

            if (prop.Name == "ImageName")
            {
            }
            else
            {
                <h4><strong>@prop.Name</strong><small><br />@prop.GetValue(Model.Park)</small></h4>
            }
        }
    }
</div>
<div class="weather">

    @foreach (var w in Model.ParkWeather)
    {
        <div class="forecast-day">
            <img class="weather-img" src="~/images/@(w.Forecast).png" />
            <p>@w.DayOfForecast</p>
            <p class="temperature">@w.High</p>
            <p class="temperature">@w.Low</p>
            <p>@w.Forecast</p>
        </div>

    }
</div>

<button onclick="alertMe()" id="convertBtn">Convert To C</button>

